.base {
  background-color: #f8f8fa;
}
.nav-base {
  background-color: #f8f8fa;
}

.popover {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(1255px, 745px);
}

.noti-text {
  font-size: 7px;
}
