.text-color {
  color: #3f4765;
  font-size: 14px;
}
.bg-cat {
  background-color: #f6f6f7;
}
.range-cat {
  border: none;
}
.cat-min {
  background-color: #e5eaf4;
}

.bg-btn-cat {
  background-color: #e0e2e8;
}

.bg-btn-red {
  background-color: #eb3352;
}

.bg-main-card {
  background-color: #fcfcfc;
}
