.categories {
  height: 40%;
}

.prod {
}

#content {
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

#picturePost {
  display: inline-block;
  width: 250px;
}

#contentMobile {
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

#picturePostMobile {
  display: inline-block;
  width: 150px;
}

.carousel-status{
  margin-top: 5px !important;
  margin-right: 15px !important;
}